<%- include('../partials/header') %>


<form action="/articles/<%= articleId %>/review/<%= review._id %>?_method=PUT" method="POST">
   <input name="content" value="<%= review.content %>">
    <button type="submit">Edit Review</button>
  </form>



</form>









<%- include('../partials/footer') %>
