<%- include('../partials/header') %>
<section id="show-page">
    <div>Title</div>
    <div>
        <%= article.title %>
    </div>
    <div>Content</div>
    <div> <%= article.content %> </div>
    <div>Created Year</div>
    <div> <%= article.createdYear %> </div> 

</section>


<h2>Reviews</h2>
<% if (user) { %>
<form id="add-review-form" method="POST" action="/articles/<%= article._id %>/review">
<label>Review</label>
<textarea name="content"></textarea>
<label>Rating:</label>

<select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
</select>
<input type="submit" value="Add Review">
<% } else { %>
    <p>Please Login to leave a review</p>
    <% } %>
</form>

<!--//List of reviews-->
<% if (article.reviews.length) { %>
<table>
    <thread>
        <tr>
        <th>User</th>
        <th>Content</th>
        <th>Rating</th>
        </tr>
    </thread>
    <tbody>
        <% article.reviews.forEach(function(r) { %>
        <tr>
            <td class="review-user"> <%= r.userName %> </td> 
            <td> <%= r.content %> </td>
            <td> <%= r.rating %> </td>
            <td>
                <% if (user && user._id.equals(r.user)) { %>
                    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                    </form>
                   <a href="/articles/<%= article._id %>/review/<%= r._id %>"><button>Edit</button></a>
<% } %>

            </td>
        </tr>
<% } ); %>  

    </tbody>
</table>
<% } else { %>
<h5>No Rewiews Yet</h5>
<% } %>











<%- include('../partials/footer') %>
